<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>103700206174-qonb3qg0i0mbhmg1aennefl3ldr8sj4o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.103700206174-qonb3qg0i0mbhmg1aennefl3ldr8sj4o</string>
	<key>API_KEY</key>
	<string>AIzaSyCbVwWmI4kAzDZ2r2uSTce1ND27FHTp7P8</string>
	<key>GCM_SENDER_ID</key>
	<string>103700206174</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.realAssitAi</string>
	<key>PROJECT_ID</key>
	<string>real-assist-ai</string>
	<key>STORAGE_BUCKET</key>
	<string>real-assist-ai.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:103700206174:ios:b3247942c1f543ba471acf</string>
</dict>
</plist>